{% extends "base.html" %}

{% block title %}Open chat{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/controller.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Messages menu -->

<div id="messages-menu">
    <div id="messages-action">
        <form class="search-bar">
            <img src="{{ url_for('static', filename='img/search.svg') }}">
            <input type="text" id="" placeholder="Pesquisar por conversas">
        </form>
    
        <button id="new-message">
            +
        </button>
    </div>
    <div class="messages"></div>
    <div class="user-painel">
        <span>
            <img src="" id="user-photo">
            <div id="user-info">
                <span id="user-name">
                    ...
                </span>
                <span class="email">
                    ...
                </span>
            </div>
        </span>
        <div id="user-options">
            <img src="{{ url_for('static', filename='img/options.svg') }}">
            <div id="mini-popup">
                <button id="exit" onclick="deleteAccount()">
                    <img src="{{ url_for('static', filename='img/x.svg') }}">
                    Encerrar sua conta
                </button>
                <button id="logout" onclick="logOut()">
                    <img src="{{ url_for('static', filename='img/sign-out.svg') }}">
                    Terminar sessão
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Messages controller -->

<div class="messages-controll">
    <div id="another-painel">
        <div>
            <img src="" id="user-photo">
            <span>
                <div id="user-info">
                    <div id="user-name">
                        ...<mark class="email">...</mark>
                    </div>
                </div>
                <span id="state">...</span>
            </span>
        </div>
        <span class="actions">
            <span id="call"><img src="{{ url_for('static', filename='img/call.svg') }}" id="call"></span>
            <span id="video-call"><img src="{{ url_for('static', filename='img/video-call.svg') }}" id="video-call"></span>
            <span id="options"><img src="{{ url_for('static', filename='img/options.svg') }}" id="options"></span>
        </span>
    </div>
    <div id="message-studio"></div>
    <div id="message-writer">
        <textarea placeholder="Degite o conteúdo da mensagem 💬"></textarea>
        <span id="send-message">
            <img src="{{ url_for('static', filename='img/without-message.svg') }}">
        </span>
    </div>
</div>  
{% endblock content %}

<!-- Search user PopUp -->

{% block popup %}
<div id="popup">
    <form class="search-bar">
        <img src="{{ url_for('static', filename='img/search.svg') }}">
        <input type="text" name="email" placeholder="Degite o email do usuário">
    </form>

    <div class="message" onclick="messagesClick">
        <img id="user-photo">
        <div id="content">
            <div>
            <span id="user-name"></span>
            <span id="date"></span>
            </div>
            <p></p>
        </div>
        <span id="counter"></span>
    </div>

    <p>Encontre usuários e começe a conversar 💬</p>
</div>
{% endblock %}