{% extends "base.html" %}

{% block title %}Open chat{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/controller.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
{% endblock %}

{% block content %}
<!-- Menu -->

<div id="messages-menu">
    <div id="messages-action">
        <form id="search-bar">
            <img src="{{ url_for('static', filename='img/search.svg') }}">
            <input type="text" id="" placeholder="Pesquisar seus amigos e familiares">
        </form>
    </div>
    <div class="messages">
        <div id="searching-messages"></div>
    </div>
    <div class="user-painel">
        <span>
            <img src="" id="user-photo">
            <div id="user-info">
                <span id="user-name">...</span>
                <span class="email">...</span>
            </div>
        </span>
        <div id="user-options">
            <img src="{{ url_for('static', filename='img/options.svg') }}">      
        </div>
        <div id="mini-popup">
            <button onclick="logOut()">
                <img src="{{ url_for('static', filename='img/x.svg') }}">
                Terminar sessão
            </button>
        </div>
    </div>
</div>

<!-- Messages controller -->

<div class="messages-controll">
    <div id="another-painel">
        <div>
            <img src="" id="user-photo">
            <span>
                <div id="user-info">
                    <div id="user-name">
                        ...<mark class="email">...</mark>
                    </div>
                </div>
                <span id="state">...</span>
            </span>
        </div>
        <span class="actions">
            <span id="options"><img src="{{ url_for('static', filename='img/options.svg') }}" id="options"></span>
        </span>
    </div>
    <div id="message-studio"></div>
    <div id="message-writer">
        <textarea placeholder="Degite o conteúdo da mensagem 💬"></textarea>
        <span id="send-message">
            <img src="{{ url_for('static', filename='img/without-message.svg') }}">
        </span>
    </div>
</div>  
{% endblock content %}
