{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<main id="login">
    <div class="social-wireless" onclick="googleSignIn()">
        <img src="{{ url_for('static', filename='img/google.svg') }}" alt="Google Logo">
        <p>Iniciar sessão com o Google</p>
    </div>
    
    <div id="info-login">
        <p>Acesso rápido e fácil! Entre com o <a href="https://google.com" target="_blank">Google</a> para desfrutar das tuas conversas. 😄💬🔐</p>
    </div>      
</main>
{% endblock %}


