div#popup {
    width: 400px;
    height: 150px;
    padding: 5px;

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background-color: #212121;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.1);
    
    position: absolute;
    top: calc(50vh - 100px);
    right: calc(50vw - 200px);

    display: none;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}

div#popup > .search-bar {
    width: 99%;
}

div#popup > p {
    color: #FFF;
    font-size: 12.5px;
    margin-top: auto;
    margin-bottom: auto;
}

div#popup .message {
    width: 99%;
    margin-top: 4px;
    display: none;
}