.messages-controll {
    width: calc(100vw - 400px);
    height: 100vh;
    display: none;
}

.messages-controll > #another-painel {
    height: 90px;
    width: 100%;
    padding: 20px;
    background-color: #212121;
    border-top: 1px solid rgba(0, 0, 0, 0.50);
    border-right: 1px solid rgba(0, 0, 0, 0.50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

/* ANOTHER PAINEL */

#another-painel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#another-painel > div {
    display: flex;
    gap: 13px;
}

#another-painel #user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

span#state {
    color: #8B6CEF;
    font-size: 12px;
}

.messages-controll > #message-studio {
    height: calc(100% - 90px - 80px);
    width: 100%;
}

.messages-controll > #message-writer {
    height: 80px;
    width: 100%;
    background-color: #212121;
    border-top: 1px solid rgba(0, 0, 0, 0.50);
    border-right: 1px solid rgba(0, 0, 0, 0.50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#message-writer > textarea {
    width: 90%;
    height: 80%;
    padding: 13px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #282828;
    border-radius: 4px;
    resize: none;
    color: white;
}

#message-writer > textarea::-webkit-scrollbar {
    width: 8px;
}
  
#message-writer > textarea::-webkit-scrollbar-thumb {
    background-color: #252525; 
    border-radius: 4px;
    min-width: 1.2px; 
}
  
#message-writer > textarea::-webkit-scrollbar-track {
    background-color: #f9f9f941; 
    border-radius: 4px;
}

#message-writer > textarea:focus {
    outline: .5px solid #8b6cef;
}

#send-message {
    cursor: pointer;
}


.actions > span {
    cursor: pointer;
}

#message-studio {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

.message-box {
    display: inline-flex;
    padding: 10px;
    max-width: 380px;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    background: #242424;
    border: 1px solid rgba(0, 0, 0, 0.50);
    margin-bottom: 14px;
    float: right;
}

p#message-box-content {
    color: #FFF;
    font-size: 14px;
    font-family: Poppins;
    white-space: pre-wrap;
}

span#message-box-date {
    color: #E1E1E1;
    font-size: 10px;
    font-family: Poppins;
    text-align: right;
}

.message-box.you {
    background: #242424;
}

.message-box.me {
    background: #8b6cef;
    border: 1px solid rgb(0, 0, 0);
    margin-left: auto;
}

#message-studio::-webkit-scrollbar {
    width: 8px;
}
  
#message-studio::-webkit-scrollbar-thumb {
    background-color: #000000; 
    border-radius: 4px;
    min-width: 1.2px; 
}
  
#message-studio::-webkit-scrollbar-track {
    background-color: #f9f9f941; 
    border-radius: 4px;
}

mark.user-id {
    color: #8B6CEF;
    background-color: transparent;
}