body {
    height: 100vh;
    background-color: #212223;
    background-image: url('../img/wallpaper.png');
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-wireless {
    width: 278px;
    height: 56px;
    padding: 13px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: #252525;

    cursor: pointer;
    user-select: none;
}

.social-wireless:hover { filter: brightness(.8); }

.social-wireless:active { filter: brightness(.6); }

.social-wireless > img {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.social-wireless > p {
    font-size: 12px;
    font-family: Poppins;
    font-weight: 500;
    text-align: center;
    color: #F9F9F9;
}

main#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main#login > div#info-login * {
    font-size: 12px;
    font-weight: 500;
    color: #f9f9f9;
    margin-right: auto;
}
