{% extends "base.html" %}

{% block title %}open-chat{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sms-controll.css') }}">
{% endblock %}

{% block content %}
<div id="messages-menu">
    <div id="messages-action">
        <form class="search-bar">
            <img src="{{ url_for('static', filename='img/search.svg') }}">
            <input type="text" id="" placeholder="Pesquisar por conversas">
        </form>
    
        <button>
            +
        </button>
    </div>
    <div class="messages"></div>
    <div class="user-painel">
        <span>
            <img src="{{ url_for('static', filename='img/user-photo-example.png') }}" id="user-photo">
            <div id="user-info">
                <span id="user-name">
                    Carlos Mateus
                </span>
                <span id="username">
                    carlosmatateumateus@gmail.com
                </span>
            </div>
        </span>
        <div id="user-options">
            <img src="{{ url_for('static', filename='img/options.svg') }}">
        </div>
    </div>
</div>

<div class="messages-controll">
    <div id="another-painel">
        <div>
            <img src="{{ url_for('static', filename='img/user-photo-example.png') }}" id="user-photo">
            <span>
                <div id="user-info">
                    <span id="user-name">
                        Carlos Mateus
                    </span>
                </div>
                <span id="state">escrevendo...</span>
            </span>
        </div>
        <span class="actions">
            <span id="call"><img src="{{ url_for('static', filename='img/call.svg') }}" id="call"></span>
            <span id="video-call"><img src="{{ url_for('static', filename='img/video-call.svg') }}" id="video-call"></span>
            <span id="options"><img src="{{ url_for('static', filename='img/options.svg') }}" id="options"></span>
        </span>
    </div>
    <div id="message-studio"></div>
    <div id="message-writer">
        <textarea placeholder="Degite o conteúdo da mensagem 💬"></textarea>
        <span id="send-message">
            <img src="{{ url_for('static', filename='img/without-message.svg') }}">
        </span>
    </div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
-->    
{% endblock %}
