{% extends "base.html" %}

{% block title %}Open chat | Auth{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
<main>
    <div class="social-wireless">
        <img src="{{ url_for('static', filename='img/google.svg') }}"</img>
        <p>Iniciar sessão com o google</p>
    </div>

    <div class="social-wireless">
        <img src="{{ url_for('static', filename='img/github.svg') }}"</img>
        <p>Iniciar sessão com o github</p>
    </div>

    <div class="social-wireless">
        <img src="{{ url_for('static', filename='img/facebook.svg') }}"</img>
        <p>Iniciar sessão com o facebook</p>
    </div>
</main>
{% endblock %}